/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[5].use[3]!./app/components/Navigation.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.Navigation_nav__fIZJP {
    border-bottom: 1px solid #f0f0f0;
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box;
}

.Navigation_ul__upr6E {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px
}

.Navigation_nav__fIZJP a:hover {
   text-decoration: underline;
}
